<div class="row">
	<div class="small-9 columns">
		<h1>A little about me.</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus sit blanditiis odit quia, impedit voluptate, placeat debitis ex, deleniti, nihil id consequuntur. Blanditiis similique dolorum inventore, error, corporis nesciunt commodi minima recusandae dolore quam laudantium in voluptas, dicta sunt tempora natus quas, eum ipsam fugit ex harum dignissimos ad tempore!</p>
	</div>
	<div class="small-3 columns">
		<img src="http://placehold.it/300&text=Twitter goes here" alt="">
	</div>
</div>