<div class="row">
	<div class="small-9 columns">
		<h1>A little about me.</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus sit blanditiis odit quia, impedit voluptate, placeat debitis ex, deleniti, nihil id consequuntur. Blanditiis similique dolorum inventore, error, corporis nesciunt commodi minima recusandae dolore quam laudantium in voluptas, dicta sunt tempora natus quas, eum ipsam fugit ex harum dignissimos ad tempore!</p>
		
		<hr>

		<img src="http://placehold.it/1920x800" alt="">

		<hr>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat aut possimus similique. Impedit rerum nemo id, labore sequi autem eligendi illo ut cupiditate, optio hic qui? Itaque nostrum non repellat, fugiat laborum corporis eligendi beatae aliquam. Soluta perferendis neque tempora quam, praesentium minima nulla ipsam earum architecto ducimus, similique. Earum.</p>

		<div class="small-4 columns"><img src="http://placehold.it/300&text=Picture of weird shit" alt=""></div>
		<div class="small-4 columns"><img src="http://placehold.it/300&text=Picture of weird shit" alt=""></div>
		<div class="small-4 columns"><img src="http://placehold.it/300&text=Picture of weird shit" alt=""></div>
	</div>
	<div class="small-3 columns">
		<img class="model-sidebar" src="http://placehold.it/300&text=Picture of Model" alt="">
	</div>
</div>