<div class="row">
	<div class="small-12 columns">
		<h1>Here is my contact information!</h1>
		<div class="small-4 columns text-center">
				<h2>
					<i class="fa fa-facebook-square"></i>
				</h2>	
			<a href="">This is where my Facebook lives!</a>
		</div>
		<div class="small-4 columns text-center">
			<h2>
				<i class="fa fa-twitter-square"></i>
			</h2>					
			<a href="">This is where my Twitter lives!</a>
		</div>
		<div class="small-4 columns text-center">
			<h2>
				<i class="fa fa-space-shuttle"></i>
			</h2>
			<a href="">Not good enough? Here is my email!</a>
		</div>
	</div>
</div>