<div class="row">
	<div class="small-12 columns">
		<h1>Here is my contact information!</h1>
		<div class="small-6 columns text-center">
				<h2>
					<i class="fa fa-facebook-square"></i>
				</h2>	
			<a href="">This is where my Facebook lives!</a>
		</div>
		<div class="small-6 columns text-center">
			<h2>
				<i class="fa fa-twitter-square"></i>
			</h2>					
			<a href="">This is where my Twitter lives!</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<div class="small-12 columns text-center">
			<h2>
				<i class="fa fa-space-shuttle"></i>
			</h2>
			<p>Not good enough? Here is my email!</p>
		</div>
		<form>
			<fieldset>
				<legend>Contact me</legend>
				<div class="small-6 columns">
					<label>
						<strong>Name</strong>
						<input type="text" placeholder="Write your name here">
					</label>
				</div>
				<div class="small-6 columns">
					<label>
						<strong>Email</strong>
						<input type="email" placeholder="Write your email here">
					</label>
				</div>
				<div class="small-12 columns">
					<label>
						<strong>Subject</strong>
						<input type="text" placeholder="Write your subject here">
					</label>
				</div>
				<div class="small-12 columns">
					<label>
						<strong>Message</strong>
						<textarea cols="30" rows="10"></textarea>
					</label>
				</div>
				<div class="small-4 columns right text-right">
					<button class="button primary">Submit</button>
				</div>
			</fieldset>	
		</form>

	</div>
</div>