<div class="row">
	<div class="small-12 columns collapsed">
		<slick dots=true touch-move=true>
		 	<div>
				<img src="http://lorempixel.com/1920/500/cats/" alt="">
		 	</div>
		 	<div>
				<img src="http://lorempixel.com/1920/500/cats/" alt="">
		 	</div>
		 	<div>
				<img src="http://lorempixel.com/1920/500/cats/" alt="">
		 	</div>
		</slick>
	</div>
</div>

<div class="row">
	<div class="small-9 columns">
		<div class="small-6 columns">
			<img src="http://lorempixel.com/1920/500/sports/" alt="">
		</div>
		<div class="small-6 columns">
			<img src="http://lorempixel.com/1920/500/sports/" alt="">
		</div>
		<div class="small-6 columns">
			<img src="http://lorempixel.com/1920/500/sports/" alt="">
		</div>
		<div class="small-6 columns">
			<img src="http://lorempixel.com/1920/500/sports/" alt="">
		</div>
		<div class="small-6 columns">
			<img src="http://lorempixel.com/1920/500/sports/" alt="">
		</div>
		<div class="small-6 columns">
			<img src="http://lorempixel.com/1920/500/sports/" alt="">
		</div>
		<div class="small-6 columns">
			<img src="http://lorempixel.com/1920/500/sports/" alt="">
		</div>
		<div class="small-6 columns">
			<img src="http://lorempixel.com/1920/500/sports/" alt="">
		</div>
		<div class="small-6 columns">
			<img src="http://lorempixel.com/1920/500/sports/" alt="">
		</div>
		<div class="small-6 columns">
			<img src="http://lorempixel.com/1920/500/sports/" alt="">
		</div>
		
	</div>
	<div class="small-3 columns">
		<div class="small-12 columns">
			<img src="http://placehold.it/300&text=Twitter goes here" alt="">
		</div>
	</div>
</div>