<div class="row">
	<div class="small-8 columns">
		<h1>Ryze Cosplay</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam sed possimus, temporibus accusantium ad! Laboriosam consequatur aliquid cupiditate earum minima.</p>
		<div class="small-6 columns">
			<img src="http://lorempixel.com/400/200/cats/" alt="">
		</div>
		<div class="small-6 columns">
			<img src="http://lorempixel.com/400/200/cats/" alt="">
		</div>
	</div>
	<div class="small-4 columns">
		<img src="http://placehold.it/500x500" alt="">
	</div>
</div>